.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'header header'
    'capa-conteudo capa-imagem'
    'org-imagem org-conteudo';
    row-gap: 20px;
    column-gap: 20px;
}
header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
section#capa-conteudos {
    grid-area: capa-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#capa-imagem {
    grid-area: capa-imagem;
}
section#org-imagem {
    grid-area: org-imagem;
}
section#capa-imagem > img, section#org-imagem > img {
    max-width: 100%;
}
section#org-conteudo {
    grid-area: org-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer {
    background: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}
nav {
    flex-grow: 1;
}
nav ul {
    display: flex;
    list-style: none;
}
ul a:link, a:visited {
    padding: 10px;
    text-decoration: none;
    color: #484848;
    font-size: 1.2rem;
}
ul a:hover {
    padding: 10px;
    text-decoration: none;
    color: #0B5CFF;
}
.botao {
    text-decoration: none;
    color: #0B5CFF;
    border: 2px solid #0B5CFF;
    border-radius: 25px;
    padding: 5px 30px;
    align-self: flex-start;
}
.botao:hover {
    background-color: #d2e1ff;
}
.botao.destaque {
    background-color: #0B5CFF;
    color: white;
}
.botao.destaque:hover {
    background: #2d7eff;
}
/* Tipografia */
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.2rem;
}
.texto-destaque {
    color: #0B5CFF;
}